@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null)
{
    <div class="container">

        <strong>

            Error Occured in @Model.ActionName , action method of the @Model.ControllerName controller class
        </strong>
        <br />
        <strong>
            The Error Message is @Model.ErrorMessage
        </strong>
    </div>
    <hr />
    <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">Go Back</a>
}
else
{
    <div class="container">

        <strong>

            Error Occured in @ViewData["ActionName"] , action method of the @ViewData["ControllerName"] controller class
        </strong>
        <br />
        <strong>
            The Error Message is @ViewData["ErrorMessage"]
        </strong>
    </div>
    <hr />
    <a asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]">Go Back</a>
}


